*.tar.gz
*.ptx
*.ptxas
_app_cuda_*
_cuobjdump_*
*.o
.vscode/*
bin_cryptonight/
bin_hash/
bin_neoscrypt
bin/
data.bin
bin2/
collect*/
test_bin/
*.log
*.gz

equi
equi1
equi1g
dev
dev1
equi965
equi1445
eqcudah
eqcuda1445
verify
verify1445
hide

!accel-sim-framework-1.2.0.tar.gz